<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<div class="card text-center m-auto mt-4 border-info" style="width: 28rem">
			<img
				src="https://www.techbooky.com/wp-content/uploads/2022/09/Blogging-Platforms.jpeg"
				class="card-img-top"
				alt="blog"
			/>
			<div class="card-body">
				<h5 class="card-title">Post <%= posts._id %></h5>
				<p class="card-text"><%= posts.message %></p>
				<a href="/" class="btn btn-warning">Back</a>
				<!-- <a href="" class="btn btn-outline-danger" data-doc="<%= posts._id %>"
					>Delete</a
				> -->
			</div>
			<div class="card-footer text-muted">
				Created <%= Math.floor((Date.now() - posts.updatedAt)/3600000)%> hours
				ago
			</div>
		</div>
	</body>
</html>
