<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		
			<nav
				class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-between mb-4"
			>
				<a class="navbar-brand p-4" href="/">POST to HOST</a>

				<ul class="navbar-nav mr-auto p-4">
					<% if(user) { %>
					 <li class="nav-item active">
						<p class="nav-link">Welcome, <%= user.username%></p>
					 </li>
					 <li class="nav-item active">
						<a href="/logout" class="nav-link">Logout</a>
					 </li>
					<% } else { %>
					 <li class="nav-item active">
						<a href="/login" class="nav-link">Login</a>
					 </li>
					 <li class="nav-item active">
						<a href="/signup" class="nav-link">Sign up</a>
					 </li>
					<% } %>
				</ul>
			</nav>
		<div class="container">
			<% if(user) { %>
			<form action="/" method="post">
				<div class="form-group mb-3">
					<label for="message">Send a message to the world!</label>
					<textarea
						class="form-control border-danger"
						id="message"
						name="message"
						rows="3"
						minlength="25"
					></textarea>
				</div>
				<button type="submit" class="btn btn-success">Send!</button>
			</form>
			<% } %>

			<div class="users">
				<% if (posts.length > 0) { %>
				<h2 class="m-auto mb-4 text-center">All Posts</h2>
				<div class="row row-cols-4 g-4">
					<% let i=0 %> <% posts.forEach(post => { %> <% i++ %> <% let
					formattedDate = post.createdAt.getDate()+ "-" +
					(post.createdAt.getMonth()+1) + "-" +post.createdAt.getFullYear() %>
					<div class="col">
						<div class="card h-100 border-info">
							<img
								src="https://www.managementors.co.uk/wp-content/uploads/2017/02/36673529-technology-images.png"
								class="card-img-top"
								alt="..."
							/>
							<div class="card-body">
								<h5 class="card-title">Post <%= i %></h5>
								<p class="card-text"><%= post.message.slice(0,100) %>...</p>
								<div class="mb-2">
									<a href="/posts/create/<%= post._id %>" class="fst-italic"
										>See more...</a
									>
								</div>
							</div>
							<div class="card-footer">
								<small class="text-muted"
									>Posted by <%= post.user %> at: <%= formattedDate %>
								</small>
							</div>
						</div>
					</div>

					<% }) %> <% } else { %> There are no blogs to display... <% } %>
				</div>
			</div>
		</div>
		<div class="text-center mt-4"><%- include("./partials/footer.ejs") %></div>
	</body>
</html>
